#startSound{
    width: 5rem;
    height:2.5rem;
    border:3px solid gray;
    border-radius: 4px;
    
}

#frequency{

}
#freqLabel{

}

#container{
    width:25rem;
    height:25rem; 
    background-color:crimson;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
}
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}